{% extends 'MNFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="center">Players</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Nickname</th>
                            <th class="center">Subs owed</th>
                            <th class="col-sm-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in players %}
                            <tr>
                                <td>{{ player.firstname }} {{ player.lastname }}</td>
                                <td>{{ player.nickname }}</td>
                                <td class="center">{{ player.getSubsOwed() > 0 ? '£'~player.getSubsOwed() : 'All square' }}</td>
                                <td class="center"><a href="{{ path('player_profile', { 'id' : player.id }) }}">Profile</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4 well">
            {{ render(controller('MNFrontendBundle:Frontend:atAGlancePlayerWidget')) }}
            {{ render(controller('MNFrontendBundle:Frontend:playerLocationsWidget', { 'players' : players })) }}
        </div>
    </div>
{% endblock %}