{% extends 'MNFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="center">Players</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Nickname</th>
                            <th class="center">Subs owed</th>
                            <th class="col-sm-1">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in players %}
                            <tr>
                                <td>{{ player.firstname }} {{ player.lastname }}</td>
                                <td>{{ player.nickname }}</td>
                                <td class="center">{{ player.getSubsOwed() > 0 ? '£'~player.getSubsOwed() : 'All square' }}</td>
                                <td class="center"><a class="details" href="#" rel="#next_match_details"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
                            </tr>
                            <tr class="detail" style="display: none">
                                <td colspan="4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {% if player.nickname != 'Trix' %}
                                            {% if player.image %}
                                                <img src="{{ player.image.getAbsolutePath() | apply_filter('thumb') }}" />
                                            {% endif %}
                                            {{ player.bio | raw }}
                                            {% else %}
                                                <iframe width="100%" height="400" src="//www.youtube.com/embed/WwoM5fLITfk" frameborder="0" allowfullscreen></iframe>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4 well">
            {{ render(controller('MNFrontendBundle:Frontend:atAGlancePlayerWidget')) }}
            {{ render(controller('MNFrontendBundle:Frontend:nextGameWidget')) }}
        </div>
    </div>
{% endblock %}