{% extends 'MNUsefulBundle::admin_layout.html.twig' %}

{% block content -%}
    <h1>Game list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Teams</th>
                <th>Cost</th>
                <th>Subs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.getHomeTeam().getDisplayName() }} v {{ entity.getAwayTeam().getDisplayName() }}</td>
                <td>{{ entity.cost }}</td>
                <td>{{ entity.subs }}</td>
                <td>
                    <div class="button-group">
                        <a class="btn btn-sm btn-success" href="{{ path('admin_manage_subs', { 'id': entity.id }) }}">subs</a>
                        <a class="btn btn-sm btn-success" href="{{ path('admin_game_result', { 'id': entity.id }) }}">result</a>
                        <a class="btn btn-sm btn-primary" href="{{ path('admin_game_edit', { 'id': entity.id }) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success" href="{{ path('admin_game_new') }}">
                Add a game
            </a>
        </div>
    </div>
{% endblock %}
